
body {
    background-color: lightblue;
  }
.test {
    color: brown;
    display: grid;
    row-gap: 50px;
    font-family: cursive;
}
.front {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
